.event {
  position: relative;
  padding-top: 40px;
}

.date {
  font-size: 20px;
}

.event h3 {
  font-size: 25px;
}

.event p {
  margin: 10px 0;
}

.image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.controls {
  position: absolute;
  right: 30px;
  top: 0;
}

.delete {
  margin-left: 20px;
  color: red;
}

.back {
  font-weight: bolder;
  color: red;
  display: block;
  margin-top: 40px;
}

.bottom {
  text-align: center;
}
